matplotlib-inline==0.1.7
numpy==2.2.3
pandas==2.2.3
plotly==6.0.0
regex==2024.11.6
scipy==1.15.2
sentence-transformers==3.4.1
tokenizers==0.21.0
transformers==4.49.0
faiss-cpu == 1.10.0
streamlit==1.44.1
gdown == 5.2.0
poetry==1.8.5
huggingface_hub==0.30.2
pymongo==4.12.1